# Auto detect text files and perform LF normalization
# * text=auto
/Doc/** linguist-documentaion=true
/IO_Results/** linguist-documentaion=true
/VisualStudio_Files/** linguist-generated=true
/IO_Results/**/*.pls text